<p-dialog [header]="employee ? 'Edit Employee' : 'Add Employee'" [(visible)]="visible" (onHide)="onHide()"
  [modal]="true" [closable]="true" [style]="{ width: '540px' }">

  <form [formGroup]="employeeForm" class="employee-form">

    <div class="row">

      <!-- ================= FIRST NAME ================= -->

      <div class="col-6 mb-3">

        <label class="form-label">
          First Name
          <span class="required">*</span>
        </label>

        <input pInputText type="text" formControlName="firstName" class="form-control" placeholder="Enter first name" />

        <small class="validation-message" *ngIf="
                        employeeForm.get('firstName')?.touched &&
                        employeeForm.get('firstName')?.hasError('required')
                    ">
          First name is required.
        </small>

        <small class="validation-message" *ngIf="
                        employeeForm.get('firstName')?.touched &&
                        employeeForm.get('firstName')?.hasError('minlength')
                    ">
          First name must be at least 2 characters.
        </small>

        <small class="validation-message" *ngIf="
                        employeeForm.get('firstName')?.touched &&
                        employeeForm.get('firstName')?.hasError('maxlength')
                    ">
          First name cannot exceed 50 characters.
        </small>

        <small class="validation-message" *ngIf="
                        employeeForm.get('firstName')?.touched &&
                        employeeForm.get('firstName')?.hasError('pattern')
                    ">
          First name can contain only letters and spaces.
        </small>

      </div>


      <!-- ================= LAST NAME ================= -->

      <div class="col-6 mb-3">

        <label class="form-label">
          Last Name
          <span class="required">*</span>
        </label>

        <input pInputText type="text" formControlName="lastName" class="form-control" placeholder="Enter last name" />

        <small class="validation-message" *ngIf="
                        employeeForm.get('lastName')?.touched &&
                        employeeForm.get('lastName')?.hasError('required')
                    ">
          Last name is required.
        </small>

        <small class="validation-message" *ngIf="
                        employeeForm.get('lastName')?.touched &&
                        employeeForm.get('lastName')?.hasError('minlength')
                    ">
          Last name must be at least 2 characters.
        </small>

        <small class="validation-message" *ngIf="
                        employeeForm.get('lastName')?.touched &&
                        employeeForm.get('lastName')?.hasError('maxlength')
                    ">
          Last name cannot exceed 50 characters.
        </small>

        <small class="validation-message" *ngIf="
                        employeeForm.get('lastName')?.touched &&
                        employeeForm.get('lastName')?.hasError('pattern')
                    ">
          Last name can contain only letters and spaces.
        </small>

      </div>


      <!-- ================= EMAIL ================= -->

      <div class="col-6 mb-3">

        <label class="form-label">
          Email
          <span class="required">*</span>
        </label>

        <input pInputText type="email" formControlName="email" class="form-control" placeholder="Enter email" />

        <small class="validation-message" *ngIf="
                        employeeForm.get('email')?.touched &&
                        employeeForm.get('email')?.hasError('required')
                    ">
          Email is required.
        </small>

        <small class="validation-message" *ngIf="
                        employeeForm.get('email')?.touched &&
                        employeeForm.get('email')?.hasError('email')
                    ">
          Please enter a valid email address.
        </small>

      </div>


      <!-- ================= PHONE ================= -->

      <div class="col-6 mb-3">

        <label class="form-label">
          Phone
          <span class="required">*</span>
        </label>

        <input pInputText type="text" formControlName="phone" class="form-control" placeholder="Enter 10 digit phone"
          maxlength="10" />

        <small class="validation-message" *ngIf="
                        employeeForm.get('phone')?.touched &&
                        employeeForm.get('phone')?.hasError('required')
                    ">
          Phone number is required.
        </small>

        <small class="validation-message" *ngIf="
                        employeeForm.get('phone')?.touched &&
                        employeeForm.get('phone')?.hasError('pattern')
                    ">
          Phone number must contain exactly 10 digits.
        </small>

      </div>


      <!-- ================= DEPARTMENT ================= -->

      <div class="col-6 mb-3">

        <label class="form-label">
          Department
          <span class="required">*</span>
        </label>

        <p-select formControlName="department" [options]="departments" optionLabel="label" optionValue="value"
          placeholder="Select department" styleClass="w-full" appendTo="body">
        </p-select>

        <small class="validation-message" *ngIf="
                        employeeForm.get('department')?.touched &&
                        employeeForm.get('department')?.hasError('required')
                    ">
          Department is required.
        </small>

      </div>


      <!-- ================= DESIGNATION ================= -->

      <div class="col-6 mb-3">

        <label class="form-label">
          Designation
          <span class="required">*</span>
        </label>

        <input pInputText type="text" formControlName="designation" class="form-control"
          placeholder="Enter designation" />

        <small class="validation-message" *ngIf="
                        employeeForm.get('designation')?.touched &&
                        employeeForm.get('designation')?.hasError('required')
                    ">
          Designation is required.
        </small>

        <small class="validation-message" *ngIf="
                        employeeForm.get('designation')?.touched &&
                        employeeForm.get('designation')?.hasError('minlength')
                    ">
          Designation must be at least 2 characters.
        </small>

        <small class="validation-message" *ngIf="
                        employeeForm.get('designation')?.touched &&
                        employeeForm.get('designation')?.hasError('maxlength')
                    ">
          Designation cannot exceed 100 characters.
        </small>

      </div>


      <!-- ================= SALARY ================= -->

      <div class="col-6 mb-3">

        <label class="form-label">
          Salary
          <span class="required">*</span>
        </label>

        <input id="salary" type="number" pInputText formControlName="salary" class="form-control"
          placeholder="Enter salary" min="1" />

        <small class="validation-message" *ngIf="
                        employeeForm.get('salary')?.touched &&
                        employeeForm.get('salary')?.hasError('required')
                    ">
          Salary is required.
        </small>

        <small class="validation-message" *ngIf="
                        employeeForm.get('salary')?.touched &&
                        employeeForm.get('salary')?.hasError('min')
                    ">
          Salary must be greater than 0.
        </small>

      </div>


      <!-- ================= JOINING DATE ================= -->

      <div class="col-6 mb-3">

        <label class="form-label">
          Joining Date
          <span class="required">*</span>
        </label>

        <p-datepicker formControlName="joiningDate" dateFormat="yy-mm-dd" [showIcon]="true" [appendTo]="'body'"
          placeholder="YYYY-MM-DD" styleClass="w-full">
        </p-datepicker>

        <small class="validation-message" *ngIf="
                        employeeForm.get('joiningDate')?.touched &&
                        employeeForm.get('joiningDate')?.hasError('required')
                    ">
          Joining date is required.
        </small>

      </div>

    </div>

  </form>


  <!-- ================= FOOTER ================= -->

  <ng-template #footer>

    <p-button label="Cancel" severity="secondary" [text]="true" (onClick)="onClose()">
    </p-button>

    <p-button [label]="employee ? 'Update' : 'Save'" icon="pi pi-check" [disabled]="employeeForm.invalid"
      (onClick)="onSave()">
    </p-button>

  </ng-template>

</p-dialog>