html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

body {
  overscroll-behavior: none;
}

.required {
  color: #d32f2f;
}

.page-content::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
